body {
    background-color: #33bcff;
}
h1 {
    color: #660066;
}
h2 {
    color: #660066;
}
nav {
    border: 5px groove #00cc00;
	padding: 3px;
	margin-bottom: 5px;
}
h3 {
    color: #660066;
}
h4 {
    color: #660066;
}